[Unit]
Description=Precision Time Protocol (PTP) service for %I
Documentation=man:ptp4l
After=sys-subsystem-net-devices-%i.device configure-eth0-timestamping.service
Requires=configure-eth0-timestamping.service

[Service]
Type=simple
ExecStart=/usr/sbin/ptp4l -f /etc/linuxptp/ptp4l.conf -i %I

[Install]
WantedBy=multi-user.target